*.pyc
*.pyo
.DS_Store
__pycache__/

PROJECTS/mixed.EM/mesh4.pkl
PROJECTS/mixed.EM/mesh3.pkl
PROJECTS/mixed.EM/mesh2.pkl
PROJECTS/mixed.EM/mesh1.pkl
PROJECTS/mixed.EM/mesh0.pkl
PROJECTS/mixed.EM/mesh6.pkl
PROJECTS/mixed.EM/mesh5.pkl
PROJECTS/mixed.EM/mesh_full0.pkl
PROJECTS/mixed.EM/mesh_full1.pkl
PROJECTS/mixed.EM/mesh_full2.pkl
